body {
    background-color: white;
}

.about-us-hero {
    background-color: grey;
    background-image: url("images/cheers.JPG");
    background-size: 100%;
    background-position: center;
    height: 400px;
    margin: 0px;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;

    #about-us-title {
        //background-color: lightblue;
        color: white;
        font-size: 3.0rem;
        font-weight: bold;

        flex-basis: 100%;
        margin: 0px;
        padding: 10px;
    }

    #about-us-sub-title {
        //background-color: salmon;
        flex-basis: 100%;
        margin: 0px;
        padding: 10px;
        color: white;
        font-size: 1.3rem;
    }

}


.about-us-overview {
    //background-color: grey;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;

    #about-us-overview-title {
        //background-color: limegreen;
        flex-basis: 100%;
        margin: 0px;
        padding: 10px 20%;
        font-size: 1.8rem;
    }

    #about-us-overview-description {
        //background-color: salmon;
        flex-basis: 100%;
        margin: 0px;
        padding: 10px 15%;
        
    }
}


.about-us-statements {
    //background-color: grey;
    padding: 10px 5% 50px 5%;
    display: flex;
    text-align: center;    

    .about-us-statement-container {
        //background-color: salmon;
        display: flex;

        .about-us-statement {
            //background-color: limegreen;
            padding: 10px;
        }
    }
}

.ceo-inside-look {
    //background: grey;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px 5%;

    .ceo-headers {
        //background-color: lightgrey;
        flex-basis: 100%;
        display: flex;

        #characteristics-title {
            flex-basis: 50%;
        }

        #certifications-title {
            flex-basis: 50%;
        }
    }

    .ceo-characteristics
    {
        margin-top: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        //background: lightblue;
        flex-basis: 50%;
        list-style-type: none;

        .ceo-trait {
            flex-basis: 100%;
            padding: 0px;
            margin: 0px;
        }
    }


    .ceo-certifications
    {
        margin-top: 0px;
        //background: salmon;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        //margin: 0px;
        padding: 0px;

        .certification {
            //background: yellow;
            list-style-type: none;
            padding: 0px;
            margin: 10px 0px;
            flex-basis: 100%;

            #certification-title {
                margin: 0px;
                padding: 0px;
            }

            #certification-description {
                margin: 0px;
                padding: 0px;
            }
        }
    }

}


.about-us-who-we-are {
    //background-color: grey;
    padding: 20px 5%;
    display: flex;


    .who-we-are-details {
        padding: 40px 0px;
        padding-right: 5%;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: center;

        #who-we-are-title {
            flex-basis: 100%;
            padding: 0px;
            margin: 0px;
        }

        .values {
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: center;
            align-items: center;
          
            #value {
                flex-basis: 50%;
                list-style-type: none;
                margin: 20px 0px;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }

    .who-we-are-hero {
        background-color: mediumaquamarine;
        width: 50%;
    }

}



.who-company-isfor {
    padding: 5px 10%;
    
    .wcif-header {
        text-align: center; 

        #h-title {
            padding: 0px 10%;
            
        }

        #h-description {
            padding: 0px 20%;
            font-size: 1.5rem;
        }
    }


    .customer-traits {
        padding: 20px 10%;

        .customer-trait {
            display: flex;
            padding: 20px 0px;
            list-style-type: none;
            font-size: 1.3rem;

            #customer-trait-image {
                width: 30px;
                height: 30px;
                margin: 0px;
                padding: 0px;
                padding-right: 20px;
            }

            #customer-trait-description {
                margin: 0px;
                padding: 0px;
            }

        }
    }
}




.about-us-meet-team {
    background-color: sandybrown;
    display: flex;
    padding: 50px 8% 20px 8%;

    .meet-team-details {
        //background-color: salmon;
        width: 50%;
        padding: 30px 5%;

        #meet-team-title {
            padding: 0px;
            margin: 0px;    
        }

        #meet-team-sub-title {
        }

        #meet-team-description {
        }
    }

    .who-we-are-hero {
        background-color: aquamarine;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;

        #team-member-image {
            flex-basis: 100%;
            padding: 0px;
            margin: 0px;
        }

        #team-member-name {
            flex-basis: 100%;
            padding: 0px;
            margin: 0px;
        }

        #team-member-role {
            flex-basis: 100%;
            padding: 0px;
            margin: 0px;
        }
    }
}


.finish-line-cta {
    //background-color: grey;
    display: flex;
    

    .shop-cta   {
        padding: 20px 4%;
        margin: 20px 1%;
        border-radius: 10px;
        background-color: lightblue;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 40%;

        #shop-cta-title {
            flex-basis: 100%;
            margin: 0px;
            margin-bottom: 10px;
        }

        #shop-cta-description {
            margin: 0px;
            margin-bottom: 30px;
            flex-basis: 100%;
            font-size: 1.2rem;
            color: rgb(73, 18, 73);
        }

        #shop-cta-image {
            width: 150px;
            height: 150px;
            padding: 5px;
        }

        #shop-cta-button   {
            padding: 10px 60px;
            background-color: rgb(73, 18, 73);
            margin: 20px 5%;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .contact-cta {
        padding: 20px 4%;
        margin: 20px 1%;
        border-radius: 10px;
        background-color: salmon;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 40%;

        #contact-cta-title {
            flex-basis: 100%;
            margin: 0px;
            margin-bottom: 10px;
        }

        #contact-cta-description {
            margin: 0px;
            margin-bottom: 30px;
            flex-basis: 100%;
            font-size: 1.1rem;
            color: rgb(73, 18, 73);
        }

        #contact-cta-image {
            width: 150px;
            height: 150px;
            padding: 5px;
        }

        #contact-cta-button   {
            padding: 10px 60px;
            background-color: rgb(73, 18, 73);
            margin: 20px 5%;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
    }
}


@media screen and (max-width: 599px) {


    .about-us-hero {
        height: 300px;
    }

    .about-us-overview {
        padding-bottom: 0px;
      //background-color: grey;
      //padding: 50px 0px;
      //display: flex;
      //flex-wrap: wrap;
      //text-align: center;
      //align-content: center;
  
      #about-us-overview-title {
          //background-color: limegreen;
          //flex-basis: 100%;
          //margin: 0px;
          //padding: 10px 20%;
          //font-size: 1.8rem;
      }
  
      #about-us-overview-description {
          //background-color: salmon;
          //flex-basis: 100%;
          //margin: 0px;
          padding: 10px 5%;
          
      }

    }

    .about-us-statements {
        //background-color: grey;
        //padding: 10px 5% 50px 5%;
        //display: flex;
        //text-align: center;    
    
        .about-us-statement-container {
            //background-color: salmon;
            //display: flex;
            flex-wrap: wrap;
            padding-bottom: 0px;
    
            .about-us-statement {
                //background-color: limegreen;
                //padding: 10px;
                padding: 30px 10%;
            }
        }
    }


    .about-us-who-we-are {
        flex-wrap: wrap;

        .who-we-are-details {
            //background-color: limegreen;
          //  padding: 40px 0px;
          //  padding-right: 5%;
            width: 100%;
           // display: flex;
          //  flex-wrap: wrap;
           // align-content: center;
    
            #who-we-are-title {
               // flex-basis: 100%;
               padding: 5px 0px;
                //padding: 0px;
              //  margin: 0px;
            }
    
            #who-we-are-sub-title {
               // flex-basis: 100%;
               padding: 5px 0px;
                //padding: 0px;
               // margin: 0px;
            }
    
      
        }
    
        .who-we-are-hero {
            width: 100%;
            height: 200px;
            //background-color: mediumaquamarine;
            //width: 50%;
        }
    
    }

    

    .about-us-meet-team {
        //background-color: white;
       // display: flex;
       // padding: 50px 5%;
       flex-wrap: wrap;

        .meet-team-details {
            //background-color: salmon;
            width: 100%;
           // padding: 30px 5%;

            #meet-team-title {
                //padding: 0px;
                //margin: 0px;    
            }

            #meet-team-sub-title {
            }

            #meet-team-description {
            }
        }

        .who-we-are-hero {
           // background-color: aquamarine;
            width: 100%;
          ////  display: flex;
           // flex-wrap: wrap;
          //  align-content: center;
           // text-align: center;

            #team-member-image {
              //  flex-basis: 100%;
               // padding: 0px;
              //  margin: 0px;
              height: 100px;
            }

            #team-member-name {
               // flex-basis: 100%;
               padding: 10px 0px;
               // margin: 0px;
            }

            #team-member-role {
              //  flex-basis: 100%;
               // padding: 0px;
               padding: 10px 0px;
               // margin: 0px;
            }
        }
    }


}