



.service {
    background-color: rgb(25, 46, 33);
    display: flex;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;

    //Left
    .service-image {
        width: 50%;
        padding: 20px;
        padding-top: 10px;
        margin: 5px;

        .main-service-heading {
            color: rgb(29, 177, 145);
        }
      
    }

    //Right
    .service-details {
        display: block;
        width: 50%;
        padding: 20px;
        padding-top: 10px;
        margin: 5px;
        align-items: left;

        .main-service-heading-icon {
            color: white;
        }


        .service-heading {
            font-size: 15px;
            line-height: 20px;
        }

        .service-description {
            color: white;
            line-height: 20px;
        }

        .make-a-reservation {
            width: 50%;
            background-color: rgb(29, 177, 145);
            border-radius: 2px;
            color: white;
            border-style: none;
            margin-bottom: 10px;
            padding: 10px;
            margin-right: 50%;
            font-size: 10px;
        }

        .view-menus {
            background-color: transparent;
            width: 35%;
            border-style: solid;
            border-width: 2px;
            border-color: rgb(29, 177, 145);
            color: white;
            padding: 10px;
            font-size: 10px;
        }
    }
}


#middle {
    background-color: rgb(38, 70, 50);
}


@media only screen and (max-width: 600px) {
    .service {
        flex-wrap: wrap;

        .service-image {
            width: 100%; 
        }

        .service-details {
            width: 100%;
            padding: 0px;
            text-align: center;
        }

        .make-a-reservation {
            margin: 10px !important;
        }
    }
}