body {
  background-color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: white;
  font-size: 1.85rem;
}

h2 {
  color: white;
  font-size: 0.7rem;
}

h3 {
  color: hotpink;
}

h4 {
  font-size: 0.5rem;
}

p {
  color: rgba(211, 211, 211, 0.705);
  font-size: 0.7rem;
  line-height: 1.0rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding: 10px 0px;
}

header .web-pages-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  width: 35%;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: right;
  list-style-type: none;
}

header .web-pages-left .web-page {
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
}

header .web-pages-left .web-page:hover {
  color: magenta;
}

header #web-logo {
  width: 15%;
  font-size: 1.5rem;
  color: cyan;
  text-align: center;
}

header .web-pages-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  width: 35%;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

header .web-pages-right .web-page {
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
}

header .web-pages-right .web-page:hover {
  color: magenta;
}

header #web-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 15%;
}

header #web-contact #web-number-label {
  width: 100%;
  text-align: center;
  color: cyan;
  font-weight: bold;
  font-size: 1.0rem;
  padding: 0px;
  margin: 0px;
}

header #web-contact #web-number {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: hotpink;
  padding: 0px;
  margin: 0px;
  font-size: 0.8rem;
  font-weight: bold;
}

.hero-section {
  padding: 0px;
  margin: 0px;
  height: 350px;
  background-color: rgba(2, 107, 107, 0.39);
}

.about-us-section {
  margin: 20px 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 5%;
  background-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-color: #d650d6;
}

.about-us-section .hero-info {
  width: 50%;
  margin: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-section .hero-info .about-us-button {
  margin: 10px 0%;
  color: white;
  background-color: #bb07bb;
  border-style: none;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 0.7rem;
}

.about-us-section .hero-header {
  width: 50%;
  margin: 2.5%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about-us-section .hero-header #hero-header-h3 {
  font-size: 0.7rem;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.about-us-section .hero-header #hero-header-h1 {
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.company-features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 7%;
}

.company-features-section .features-hero {
  width: 40%;
  margin: auto;
  margin-right: 0%;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-features-section .features-hero .features-hero-sub-title {
  color: white;
  font-size: 0.7rem;
}

.company-features-section .features-hero #features-hero-title {
  color: white;
  font-size: 1.85rem;
}

.company-features-section .features-hero #features-hero-description {
  color: lightgrey;
  font-size: 0.7rem;
}

.company-features-section .features {
  margin: 2%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company-features-section .features .features-card {
  width: 46%;
  margin: 2%;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.company-features-section .features .features-card #feature-title {
  color: hotpink;
  font-size: 1rem;
}

.company-features-section .features .features-card #feature-description {
  color: rgba(211, 211, 211, 0.705);
  font-size: 0.6rem;
}

.peek-into-company-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 7%;
  margin: 20px 7%;
}

.peek-into-company-section .peek-into-company-hero {
  width: 45%;
}

.peek-into-company-section .peek-into-company-hero .the-video {
  margin: 6%;
  margin-top: 0%;
  margin-left: 0%;
  width: 300px;
  height: 300px;
  background-color: rgba(105, 225, 255, 0.144);
}

.peek-into-company-section .peek-into-company-info {
  width: 55%;
  margin: 2%;
}

.peek-into-company-section .peek-into-company-info .peek-button {
  margin: 10px 0%;
  color: white;
  background-color: #07bbbb;
  border-style: none;
  border-radius: 2px;
  padding: 10px 10%;
  font-weight: bold;
  font-size: 0.7rem;
}

.call-to-action-section {
  padding: 40px 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(2, 107, 107, 0.404);
  margin: 55px 0px;
}

.call-to-action-section .call-to-action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.call-to-action-section .call-to-action-header #call-to-action-header-h3 {
  text-align: start;
  font-size: 0.7rem;
  padding: 0px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.568);
}

.call-to-action-section .call-to-action-header #call-to-action-header-h1 {
  font-size: 1.0rem;
  padding: 0px;
  margin: 0px;
}

.call-to-action-section .call-to-action-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.call-to-action-section .call-to-action-form #enter-blog-name {
  text-align: center;
  width: 35%;
  height: 40px;
  background-color: black;
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  margin: 10px;
  border-radius: 3px;
}

.call-to-action-section .call-to-action-form #action-domain {
  text-align: start;
  width: 25%;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  margin-left: 10px;
}

.call-to-action-section .call-to-action-form #availability-button {
  width: 30%;
  height: 40px;
  margin: 10px;
  background-color: #07bbbb;
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: 0.6rem;
  border-radius: 3px;
}

.info-sharing-section {
  margin: 20px 7%;
  padding: 0.5%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-sharing-section .stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info-sharing-section .stats .stat {
  background-color: black;
}

.info-sharing-section .stats .stat #stats-title {
  color: cyan;
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
}

.info-sharing-section .stats .stat #stats-description {
  font-weight: bold;
  color: white;
  padding: 0px;
  margin: 0px;
}

.info-sharing-section .read-our-minds-section {
  padding: 50px 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-sharing-section .read-our-minds-section .read-our-minds-hero {
  width: 50%;
}

.info-sharing-section .read-our-minds-section .read-our-minds-info {
  width: 50%;
  text-align: left;
}

.portfolio-section {
  margin: 20px 3%;
  text-align: center;
}

.portfolio-section #portfolio-section-header {
  color: white;
  font-size: 2rem;
  font-weight: bolvd;
}

.portfolio-section .title-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-section .title-description #title-description-header {
  font-size: 1rem;
  font-weight: bold;
}

.portfolio-section .title-description #title-description-button {
  color: magenta;
  border-style: none;
  background-color: transparent;
  font-size: .7rem;
  font-weight: bold;
  padding: 0px;
}

.portfolio-section .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-section .project-container .project {
  width: 32%;
}

.portfolio-section .project-container .project .visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-color: rgba(255, 0, 255, 0.37);
  text-align: start;
  padding: 30px 5%;
  height: 200px;
  margin: 30px 0px;
}

.portfolio-section .project-container .project .visual #visual-button {
  border-style: none;
  border-radius: 30px;
  background-color: magenta;
  color: white;
  font-weight: bold;
  font-size: 0.5rem;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.portfolio-section .project-container .project .visual #visual-header {
  font-size: 0.8rem;
  color: white;
  padding: 0;
  margin: 0;
}

.portfolio-section .project-container .project .project-info {
  text-align: start;
}

.portfolio-section .project-container .project .project-info .project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
}

.portfolio-section .project-container .project .project-info .project-header .author-image {
  background-color: black;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: magenta;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30px;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.portfolio-section .project-container .project .project-info .project-header .author-info {
  width: 75%;
  padding: 2%;
}

.portfolio-section .project-container .project .project-info .project-header .author-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-section .project-container .project .project-info .project-header .author-info .author #author-name {
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 0.65rem;
}

.portfolio-section .project-container .project .project-info .project-header .author-info .author #author-badge {
  background-color: magenta;
  color: white;
  border-radius: 7px;
  padding: 2px 5px;
  margin: 0px;
  margin-left: 5px;
}

.portfolio-section .project-container .project .project-info .project-header .author-info .post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.portfolio-section .project-container .project .project-info .project-header .author-info .post-details #post-details-date {
  color: white;
  padding: 0px;
  padding-right: 5%;
  margin: 0px;
  font-size: 0.65rem;
}

.portfolio-section .project-container .project .project-info .project-header .author-info .post-details #post-details-date-count {
  color: rgba(255, 255, 255, 0.692);
  padding: 0px;
  margin: 0px;
  font-size: 0.65rem;
}

.portfolio-section .project-container .project .project-info .project-header .download #download-button {
  background-color: transparent;
  border-style: none;
  color: white;
}

.portfolio-section .project-container .project .project-info .product-description {
  background-color: transparent;
  padding: 0% 2%;
}

.portfolio-section .project-container .project .project-info .product-description #product-description-text {
  color: rgba(255, 255, 255, 0.384);
}

.portfolio-section .project-container .project .project-info .product-description #product-description-button {
  color: magenta;
  border-style: none;
  background-color: transparent;
  font-size: .7rem;
  font-weight: bold;
  padding: 0px;
}

.contact-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 2.5%;
}

.contact-form-section .contact-form-hero {
  padding: 25px 0%;
  width: 50%;
}

.contact-form-section .contact-form-hero #contact-form-hero-header {
  font-size: 2.0rem;
  font-weight: bold;
}

.contact-form-section .contact-form-hero #contact-form-hero-description {
  font-size: 1.0rem;
  line-height: 25px;
}

.contact-form-section .contact-form-form {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-form-section .contact-form-form .form-boxes {
  width: 75%;
  margin: 10px 10%;
  background-color: transparent;
  border-radius: 0px;
  border-width: 2px;
  border-color: cyan;
  border-style: solid;
  color: white;
  padding: 10px;
}

.contact-form-section .contact-form-form #contact-form-submit-button {
  margin: 10px 0%;
  color: white;
  background-color: #07bbbb;
  border-style: none;
  border-radius: 2px;
  padding: 15px 15%;
  font-weight: bold;
  font-size: 0.7rem;
}

footer .sections {
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sections .section {
  padding: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #026b6b;
}

footer .sections #company-logo {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

footer .company-info {
  padding: 30px 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .company-info .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .company-info .social-media .media {
  background-color: #772234;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50px;
}

footer .company-info .store-hours-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-right: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .company-info .store-hours-locations .store-hours-sections {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .company-info .store-hours-locations .store-hours-sections .footer-links {
  width: 100%;
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer .company-info .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
}

footer .company-info .call #phone-header {
  font-size: 0.65rem;
  color: white;
}

footer .company-info .call #phone-number {
  font-size: 1.6rem;
  padding: 3px 0px;
  color: #993b4f;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0px;
    margin: 0px;
  }
  .call-to-action-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }
  .call-to-action-section .call-to-action-header {
    width: 100%;
    margin-bottom: 30px;
  }
  .call-to-action-section .call-to-action-header #call-to-action-header-h3 {
    width: 100%;
    text-align: center;
  }
  .call-to-action-section .call-to-action-header #call-to-action-header-h1 {
    width: 100%;
    text-align: center;
  }
  .call-to-action-section .call-to-action-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 10px 0px;
  }
  .call-to-action-section .call-to-action-form #enter-blog-name {
    width: 50%;
    margin: 0px;
  }
  .call-to-action-section .call-to-action-form #action-domain {
    width: 20%;
    text-align: center;
  }
  .call-to-action-section .call-to-action-form #availability-button {
    width: 40%;
  }
  .company-features-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .company-features-section .features-hero {
    width: 100%;
  }
  .company-features-section .features {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-section .project-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-section .project-container .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 5px 0px;
  }
  .portfolio-section .project-container .project .visual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
  }
  .portfolio-section .project-container .project .project-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    -ms-flex-line-pack: center;
        align-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 0, 255, 0.37);
  }
  .contact-form-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0px;
  }
  .contact-form-section .contact-form-hero {
    text-align: center;
    width: 100%;
  }
  .contact-form-section .contact-form-hero #contact-form-hero-header {
    font-size: 1.5rem;
  }
  .contact-form-section .contact-form-hero #contact-form-hero-description {
    font-size: 0.8rem;
  }
  .contact-form-section .contact-form-form {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */